---
import Layout from '../layouts/Layout.astro';
import AboutCard from '../components/AboutCard.astro';
import ImageCard from '../components/ImageCard.astro';
import Nav from '../components/Nav.astro';

import aboutData from '../data/about.json';

import '../styles/common.css'
---

<Layout title="Phoebe Friesen - About">
	
    <Nav />		
	
	<main>

		<ul role="list" class="link-card-grid">
			<AboutCard 
				
			</AboutCard>
		</ul>


		{aboutData.map((data) => 
			<ImageCard
				image = {data.image}
				>
			</ImageCard>
			)}

	</main>
</Layout>

<style>
	ul{
		list-style-type: none;
	}
</style>
