---
import Layout from '../layouts/Layout.astro';

import Nav from '../components/Nav.astro';
import '../styles/common.css'
---

<Layout title="Phoebe Friesen">
	
	<div class="header">
		<Nav />		
	</div>

	<main>
		<p class="instructions">
			Philosopher working in Biomedical ethics at McGill, in Montreal Canada.
		</p>
		
		
	</main>
</Layout>

<style>
	
</style>
