---
import Layout from '../layouts/Layout.astro';
import ImageCard from '../components/ImageCard.astro'
import Nav from '../components/Nav.astro';
import indexData from '../data/index.json';

import '../styles/common.css';
---

<Layout title="Phoebe Friesen">
	
	
	<Nav />		
	

	<main>
		<p class="instructions">
			Philosopher working in Biomedical ethics at McGill, in Montreal Canada.
		</p>
		
		{indexData.map((data) => 
			<ImageCard
				image = {data.image}
				>
			</ImageCard>
			)}
		
	</main>
</Layout>

<style>
	
</style>
