---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import Nav from '../components/Nav.astro';
import '../styles/common.css'


---

<Layout title="Phoebe Friesen - Teaching">
	
    <Nav />		
	

	<main>

		<p class="instructions">
			Philosopher working in Biomedical ethics at McGill, in Montreal Canada.
		</p>

		<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="Current Teaching"
				body=""
			/>
			<Card
				href=""
				title="Past Teaching"
				body=""
			/>
			<Card
				href=""
				title="Psychiatric Research and Practice"
				body=""
			/>
			<Card
				href=""
				title="Medicine and Inequality"
				body=""
			/>
		</ul>
	</main>
</Layout>

<style>
	
</style>
