---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { title, title2, title3, title4, image, paras, reptexts, rectexts, media  } = Astro.props;
---

<div class="link-card">
	
        <div class="heading-div">
            <h2> About </h2>
        </div>
		
        <div class="paragraph-holder">
            I am a philosopher and medical ethicist, working within the Biomedical Ethics Unit and the Department of Social Studies of Medicine at McGill University. My work engages with ethical and epistemic issues related to the production and implementation of knowledge in the health sciences, drawing on feminist philosophy of science, ethics scholarship, and methodologies from the social sciences.
        </div>
	
    </div>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}

	.link-card {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--text-color);
		background-color: white;
		opacity: 0.8;
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}
    .heading-div{
        margin-top: 1em;
    }
    .citation-holder {
        margin: 1em;
    }

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: #4f39fa;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		will-change: transform;
		transform: translateX(2px);
	}
</style>
