---
const menu = [
  { url: '/', text: 'Home' },
  { url: '/about', text: 'About'},
  { url: '/research', text: 'Research'},
  { url: '/teaching', text: 'Teaching'},
  { url: '/cv', text: 'CV'}
];
---

<header>
    <div class="navigation-banner">

      <div class="navigation-name">
        <a href="/">
          <div class="navigation-link">
            <h4>
              Phoebe Friesen
            </h4>
          </div>
        </a>
      </div>
                
        <div class="navigation-link-holder">
          <a href="/about" >
              <div class="navigation-link">
                  <h5>About</h5>
          </div>
          </a>
          <a href="/research">
              <div class="navigation-link">
                  <h5>Research</h5>
          </div>   
          </a>
          <a href="/teaching" >
              <div class="navigation-link">
                  <h5>Teaching</h5>
              </div>    
          </a>
          <a href="https://www.dropbox.com/s/mf7ky6amzrcbp2a/CV%20Phoebe%20Friesen%20Dec%202022.pdf?dl=0" >
              <div class="navigation-link">
                  <h5>CV</h5>
              </div>    
          </a>
        </div>
      </div>
  </header>

  <style>
    
    .navigation-name{
        display: flex;
        align-self: center;
        flex-direction: row;
        flex-grow: 2;
    }
    .navigation-link-holder {
        display: flex;
    }   
    .navigation-link{
      margin: 0.5em;
      flex-grow: 1;
    }

    .navigation-banner {
      display: flex;
      flex-direction: row;
    
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);

      top: 0;  
      padding-left: 1em;
      padding-right: 1em;
      background-color: white;
    }
    
  </style>